/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
/* banner section start here */
.banner {
  padding: 290px 0 300px;
  position: relative;
  background-color: #4DDEFE;
}

.banner .wrapper {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.figure {
  flex-basis: 45%;
}

.img1 {
  position: absolute;
  top: 20%;
  right: 19.2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img2 {
  position: absolute;
  top: 30%;
  right: 5.8%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.figure .img1:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: all .3s ease;

}

.figure .img2:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}

.landing {
  flex-basis: 50%;
}

.landing h2 {
  padding-bottom: 15px;
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
}

.landing p {
  color: #ECFCFE;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 35px;
}

.landing p a {
  border-bottom: 2px solid #92eef9;
  color: #ECFCFE;
}

.landing p a:hover {
  color: #000;
  transition: all .3s ease;
}

.para-span1 {
  text-transform: uppercase;
}

.para-span {
  text-transform: capitalize;
}

.btn {
  padding-top: 30px;
}

.btn a {
  padding: 13px 19px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  background-color: #4087ED;
  font-size: 16px;
}

.btn a:hover {
  border: 2px solid #4087ED;
  background-color: #fff;
  color: #4087ED;
  transition: all .3S ease;
}

.btn .para-span {
  display: inline-block;
  text-transform: capitalize;
}

.btn a::before {
  padding-right: 5px;
  content: "\f179";
  float: left;
  font-family: "FontAwesome";
}

/* banner section end here */
/* shop section start here */
.shope .wrapper {
  width: 88.5%;
  padding-top: 285px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f2f2f2;
}

.shope .image {
  flex-basis: 33.6%;
}

.sub-heading {
  padding: 208px 0 176px;
  flex-basis: 48.8%;
}

.heading {
  padding-bottom: 45px;
  position: relative;
  color: #000204;
  font-size: 30px;
  text-transform: capitalize;
}

.heading::before {
  content: "";
  width: 5.6%;
  height: 2px;
  display: block;
  position: absolute;
  top: 62%;
  background-color: #3979D4;
}

.sub-heading p,
.pixel p,
.design p {
  color: #747474;
  font-size: 16px;
  line-height: 25px;
}

/* shop section end here */
/* group and overview section start here */
.group .wrapper,
.overview .wrapper {
  width: 88.5%;
  padding-top: 173px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f2f2f2;
}

.pixel,
.overview .design {
  padding: 196px 0 176px;
  flex-basis: 48.8%;
}

.group .image-1,
.overview .image-2 {
  flex-basis: 33.6%;
}

/* group and overview section end here */
/* customer section start here */
.customer .wrapper {
  width: 100%;
}

.customer .wrapper h4 {
  font-size: 25px;
  text-transform: capitalize;
  padding-top: 112px;
  text-align: center;
}

.circle {
  width: 90px;
  height: 70px;
  padding-bottom: 20px;
  border-radius: 50%;
  margin: 80px auto 20px auto;
  display: block;
  background-color: #A4A5B1;
  text-indent: -9999px;
}

.customer .wrapper h5 {
  color: #737373;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}